<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="de.netfutura.phonegap.plugin.launchmaps"
    version="1.0.0">

  <name>Map Launcher</name>
  <description>Cordova/Phonegap plugin to show a location using the native navigation app on Android (Google Maps), iOS (Apple Maps/Google Maps), and Windows Phone (Bing Maps).</description>
  <author>Ralph Dittrich</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />

  </engines>
  <repo>https://github.com/kizetsu/phonegap-maplauncher.git</repo>
  <issue>https://github.com/kizetsu/phonegap-maplauncher/issues</issue>

  <license>MIT</license>
  <keywords>cordova,phonegap,ios,android,windows,maps</keywords>

  <!-- android -->
  <platform name="android">
    <js-module src="www/android/maplauncher.js" name="MapLauncher">
      <clobbers target="maplauncher" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MapLauncher">
        <param name="android-package" value="de.netfutura.phonegap.plugin.launchmaps"/>
      </feature>
    </config-file>

    <source-file src="src/android/MapLauncher.java" target-dir="src/de/netfutura/phonegap/plugin" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <js-module src="www/ios/maplauncher.js" name="MapLauncher">
      <clobbers target="maplauncher" />
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="MapLauncher">
        <param name="ios-package" value="MapLauncher"/>
      </feature>
    </config-file>
    
    <header-file src="src/ios/MapLauncher.h" />
    <source-file src="src/ios/MapLauncher.m" />
  </platform>

  <!-- windows -->
<!--   <platform name="windows">
    <js-module src="www/windows/maplauncher.js" name="MapLauncher">
      <clobbers target="maplauncher" />
    </js-module>     
  </platform> -->

  <!-- wp8 -->
<!--   <platform name="wp8">
    <js-module src="www/wp8/maplauncher.js" name="MapLauncher">
      <clobbers target="maplauncher" />
    </js-module>   -->   
  </platform>

</plugin>